@dgray: #3b3b3b;
@blue: #324654;
@dirt: #788880;
@green: #9C9985;
@orange: #C46D3B;
@ceramic: #E3CBAC;

@bg: darken(@green, 20%);

html,body {
	margin: 0;
	padding: 0;
	font: 14px "facitweb", sans-serif;
	background-color: darken(@bg, 10%);
	text-rendering: optimizelegibility;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	border-top: 5px solid darken(@orange, 10%);
	min-width: 1000px;
}

/*
@media only screen and (max-width: 480px) {
	body {
		min-width: 480px;
		border-top: 0;
	}
}
*/

a {
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s
}

sup {
	position: relative; top: -0.5em;
	vertical-align: baseline;
}

#intro {
	padding: 0 45px;
	//margin-left: -50px;
	width: 510px; height: 34px;
	background-color: fadeout(#000, 85%);

	.left {
		float: left;
		width: 50%;

		.blog-title {
			text-transform: uppercase;
			font-size: 16px;
			margin: 0;

			a {
				text-decoration: none;
				display: inline-block;
				padding: 4px 5px 0;
				//background-color: fadeout(#000, 70%);
				color: @orange;

				img.icon {
					width: 30px;
					vertical-align: middle;
					position: relative; top: -2px;
				}
			}
		}
	}

	.right {
		float: right;

		a.side {
			color: fadeout(#fff, 50%);
			display: inline-block;
			padding: 8px 10px 9px;
			font-size: 13px;
			text-decoration: none;
			float: left;
		}
	}

	a:hover {
		background-color: fadeout(#000, 90%);
		border-bottom: 2px solid @orange;
		color: #fff !important;
	}
}

#content {
	//padding: 0 50px;
	margin: -5px auto 0;
	width: 600px; min-height: 100%;
	background-color: darken(@bg, 7%);
	//float: left;
	border-top: 5px solid @orange;

	box-shadow: fadeout(#000, 90%) 0 0 8px;

	a {
		text-decoration: none;
		color: #888;
	}

	#posts {
		.post {
			padding: 50px;
			border-top: 1px solid rgba(0,0,0,0.05);

			.post-title {
				margin-bottom: 5px;
				font-size: 24px;
				font-family: "gotham", "Helvetica Neue", sans-serif;
				font-weight: normal;

				a {	
					color: #fff;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}

			.meta {
				padding: 0 0 10px;
				margin-bottom: 5px;
				color: fadeout(#fff, 20%);
				font-size: 12px;
				//text-align: center;
				text-transform: uppercase;
				border-bottom: 1px solid fadeout(#fff, 90%);

				a {
					color: fadeout(#fff, 5%);
					
					&:hover {
						text-decoration: underline;
					}
				}
			}

			&.link {
				.post-title {
					margin-bottom: 10px;
					font-weight: 400;
					font-size: 14px;
					text-align: left;

					a { 
						color: fadeout(#fff, 10%);
						border-bottom: 1px solid fadeout(#fff, 60%);
						
						&.permalink {
							font-size: 16px;
							float: left;
							color: fadeout(#fff, 30%);
							border-bottom: 0;
							margin: -2px 0 0 -17px;
						}

						&:hover {
							text-decoration: none;
							color: #fff;
							border-bottom-color: #fff;
						}
					} 
				}

				.meta {
					font-style: italic;
					text-align: right;
					border-bottom: 1px solid #eee; 
					text-transform: normal;
					border-bottom: 0;
				}
			}

			.post-body {
				color: #fff;
				font-size: 12px;
				font-weight: 300;
				font-family: "facitweb", sans-serif;
				line-height: 1.7em;

				a {
					color: #fff;
					border-bottom: 1px solid @orange;

					&:visited {
						color: fadeout(#fff, 20%);
					
						&:after {
							content: " f";
							font-family: "icons";
							font-size: 9px;
							vertical-align: top;
							position: relative; top: -2px;
						}
					}

					&:hover {
						background-color: fadeout(#fff, 90%);
					}

					&[rel=footnote]{
						font-size: 9px;
					}
				}

				p {
					margin: 1.5em 0;
				}

				h4 {
					font: normal 12pt "gotham", "Helvetica Neue", sans-serif;
					margin: 3em 0 0.7em;
					text-transform: uppercase;
				}

				h4 + p {
					margin-top: 0em;
				}

				blockquote {
					margin: 20px 5px;
					width: 80%;
					border-left: 5px solid @orange;
					padding-left: 10px;
					color: fadeout(#fff, 15%);

					cite {
						color: fadeout(#fff, 40%);

						a {
							color: #fff;
							font-style: normal;
						}

						a:nth-of-type(1) {
							font-family: "gotham", "Helvetica Neue", sans-serif;
							text-transform: uppercase;
						}

						&:before {
							content: "\2014";
						}
					}
				}

				code {
					background-color: fadeout(#fff, 90%);
					border: 1px solid fadeout(#000, 85%);
					padding: 3px 6px 2px;
				}

				pre {
					margin: 0 -50px 0;
					padding: 0 50px;
					background-color: rgba(0,0,0,0.2);
					border-width: 2px 0;
					border-color: rgba(0,0,0,0.03);
					border-style: solid;

					code {
						background-color: transparent;
						border: 0;
						padding: 0;
					}
				}

				img {
					margin-left: -50px;
					max-width: 600px;
				}

				strong {
					font-family: "gotham", sans-serif;
					font-weight: normal;
				}

				.disclaimer {
					font-style: italic;
					color: fadeout(#fff, 50%);
					display: inline-block;
					margin-bottom: 2em;

					strong { text-transform: uppercase; }
				}

				.footnote {
					font-size: 11px;
					color: fadeout(#fff, 30%);

					hr {
						border: 0;
						border-bottom: 1px solid fadeout(#fff, 90%);
						margin: 5px 0;
						height: 0; width: 200px;
					}

					a {
						color: #eee;

						&[rev=footnote]{
							font-size: 9px;
						}
					}

					ol {
						margin-left: 0;	padding-left: 10px;
						counter-reset: li;

						li {
							position: relative;
							list-style: none;

							&:before {
								content: counter(li);
								counter-increment: li;
								position: absolute; left: -9px;	top: -2px;
								font-size: 8px;
							}

							p { margin: 0 0 0.5em; }
						}
					}
				}
			}

			.post-footer {
				font-size: 12px;
				border-top: 1px solid fadeout(#fff, 90%);
				padding-top: 10px;

				a {
					color: fadeout(#fff, 40%);

					&:hover {
						text-decoration: underline;
					}
				}
			}

			&.link .post-footer { display: none; }
		}
	}

	#bottom {
		//margin-left: -50px;
		padding: 8px 50px;
		background-color: rgba(0,0,0,0.2);
		width: 500px;

		#paginator,
		#btb {
			width: 200px;
			float: left;

			a {
				color: #eee;
				padding: 8px 8px;
				font-size: 13px;

				&:hover {
					border-top: 2px solid @orange;
					background-color: rgba(0,0,0,0.1);
					color: #fff;
				}
			}
		}

		#btb {
			text-align: left;
		}

		#copyright {
			float: right;
			color: rgba(255,255,255,0.2);
			font-size: 12px;
			padding: 1px 0 0;
		}
	}
}

#posts > .post:first-child { padding-top: 50px !important; border-top: 0 !important; }
#posts > div:nth-last-of-type(2) { padding-bottom: 50px !important; }

/*
@media only screen and (max-width: 480px) {

	#content {
		margin: 0 auto;
		width: 100%;
		overflow-x: hidden;
		padding: 5px 15px;

		#posts {
			.post {
				margin: 300px 0;

				&:first-child {
					margin-top: 5px;
				}
				
				.post-title {
					font-size: 74px;
					margin-bottom: 30px;
					line-height: 1em;
				}
				
				.meta { font-size: 32px; }
				
				&.link {
					.post-title {
						font-size: 44px;
					
						a.permalink {
							font-size: 44px;
							margin-left: 0px;
							margin-right: 5px;
						}
					}
				}

				.post-body {
					font-size: 32px;

					a {
						&[rel=footnote]{ font-size: 39px; }
					}

					blockquote {
						padding-left: 30px;
					}

					img {
						max-width: 480px;
						margin-left: -15px;
					}

					.footnote {
						font-size: 42px;

						a {
							&[rev=footnote]{ font-size: 39px; }
						}
					}
				}

				.post-footer {
					font-size: 20px;
				}
			}

			#paginator, #btb {
				a { 
					font-size: 46px;
					padding: 8px 12px;
				}
			}
		}
	}
}
*/

.clear { clear: both; }
