html,
body {
  margin: 0;
  padding: 0;
  font: 14px "ff-dagny-web-pro", sans-serif;
  background-color: #f5f5f5;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-width: 1000px;
  border-top: 2px solid #000;
}
a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
sup {
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}
#intro {
  padding: 0 45px;
  width: 710px;
  height: 34px;
}
#intro .left {
  float: left;
  width: 50%;
  visibility: hidden;
}
#intro .left .blog-title {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}
#intro .left .blog-title a {
  text-decoration: none;
  display: inline-block;
  padding: 4px 5px 0;
  color: #c46d3b;
}
#intro .left .blog-title a img.icon {
  width: 30px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
#intro .right {
  float: right;
}
#intro .right a.side {
  color: #888;
  display: inline-block;
  padding: 10px 10px 11px;
  font-size: 16px;
  text-decoration: none;
  float: left;
}
#intro a:hover {
  background-color: #222;
  color: #fff !important;
}
#content {
  margin: 0 auto;
  width: 800px;
  min-height: 100%;
  color: #000;
}
#content a {
  text-decoration: none;
  color: #888;
}
#content #posts .post {
  padding: 50px;
  border-top: 1px dashed #eee;
}
#content #posts .post .post-title {
  margin-bottom: 5px;
  font-size: 40px;
  font-family: "ff-dagny-web-pro", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
#content #posts .post .post-title a {
  color: #000;
}
#content #posts .post .post-title a:hover {
  text-decoration: underline;
}
#content #posts .post .meta {
  padding: 0 0 10px;
  margin-bottom: 5px;
  color: #666;
  font-size: 16px;
  text-transform: uppercase;
}
#content #posts .post .meta a {
  color: rgba(0, 0, 0, 0.95);
}
#content #posts .post .meta a:hover {
  text-decoration: underline;
}
#content #posts .post.link .post-title {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: left;
}
#content #posts .post.link .post-title a {
  color: #222;
}
#content #posts .post.link .post-title a.permalink {
  font-size: 24px;
  float: left;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 0;
  margin: -2px 0 0 -24px;
}
#content #posts .post.link .meta {
  font-style: italic;
  text-align: right;
  border-bottom: 1px solid #eee;
  text-transform: normal;
  border-bottom: 0;
}
#content #posts .post .post-body {
  font-size: 22px;
  font-weight: 400;
  font-family: "adobe-garamond-pro", serif;
  line-height: 1.5em;
}
#content #posts .post .post-body a {
  color: #333;
  border-bottom: 1px solid #ddd;
}
#content #posts .post .post-body a:hover {
  color: #c46d3b;
  border-bottom-color: #aaa;
}
#content #posts .post .post-body a[rel=footnote] {
  font-size: 75%;
}
#content #posts .post .post-body a.permalink {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 0;
}
#content #posts .post .post-body a.permalink:hover {
  opacity: 1;
}
#content #posts .post .post-body p {
  margin: 1.5em 0;
}
#content #posts .post .post-body h4 {
  font: bold 26px "ff-dagny-web-pro", "Helvetica Neue", sans-serif;
  margin: 3em 0 0.7em;
  text-transform: uppercase;
}
#content #posts .post .post-body h4 + p {
  margin-top: 0em;
}
#content #posts .post .post-body blockquote {
  margin: 20px 0;
  width: 80%;
  border-left: 5px solid #c46d3b;
  padding-left: 15px;
  color: #222;
}
#content #posts .post .post-body blockquote cite {
  color: rgba(0, 0, 0, 0.6);
}
#content #posts .post .post-body blockquote cite a {
  color: #000;
  font-style: normal;
}
#content #posts .post .post-body blockquote cite a:nth-of-type(1) {
  font-family: "ff-dagny-web-pro", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}
#content #posts .post .post-body blockquote cite:before {
  content: "\2014";
}
#content #posts .post .post-body code {
  font-family: "Inconsolata", "Consolas", "Monaco", monospace;
  background-color: rgba(0, 0, 0, 0.010000000000000009);
  padding: 3px 6px 2px;
}
#content #posts .post .post-body pre {
  border-radius: 5px;
  font-size: 16px;
  margin: 0 -50px 0;
  padding: 0 50px;
  background-color: #eee;
  color: #222;
}
#content #posts .post .post-body pre code {
  background-color: transparent;
  border: 0;
  padding: 0;
}
#content #posts .post .post-body img {
  margin-left: -50px;
  max-width: 800px;
}
#content #posts .post .post-body strong {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: bold;
}
#content #posts .post .post-body .disclaimer {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-bottom: 2em;
}
#content #posts .post .post-body .twitter-tweet-rendered {
  margin: 0 auto;
}
#content #posts .post .post-body .footnote {
  font-size: 18px;
  color: #666;
}
#content #posts .post .post-body .footnote hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09999999999999998);
  margin: 5px 0;
  height: 0;
  width: 200px;
}
#content #posts .post .post-body .footnote a {
  color: #222;
}
#content #posts .post .post-body .footnote a[rev=footnote] {
  font-size: 12px;
}
#content #posts .post .post-body .footnote ol {
  margin-left: 0;
  padding-left: 15px;
  counter-reset: li;
}
#content #posts .post .post-body .footnote ol li {
  position: relative;
  list-style: none;
  margin-bottom: 1em;
}
#content #posts .post .post-body .footnote ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -15px;
  top: -15px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
}
#content #posts .post .post-body .footnote ol li p {
  margin: 0 0 0.5em;
  line-height: 1.3em;
}
#content #posts .post .post-footer {
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.09999999999999998);
  padding-top: 10px;
}
#content #posts .post .post-footer a {
  color: rgba(255, 255, 255, 0.6);
}
#content #posts .post .post-footer a:hover {
  text-decoration: underline;
}
#content #posts .post.link .post-footer {
  display: none;
}
#content #bottom {
  padding: 0 50px;
  width: 800px;
}
#content #bottom #paginator,
#content #bottom #btb {
  width: 200px;
  float: left;
}
#content #bottom #paginator a,
#content #bottom #btb a {
  background-color: #444;
  color: #eee;
  padding: 8px 12px;
  font-size: 16px;
}
#content #bottom #paginator a:hover,
#content #bottom #btb a:hover {
  background-color: #000;
  color: #fff;
}
#content #bottom #btb {
  text-align: left;
}
#content #bottom #copyright {
  float: right;
  color: #ccc;
  font-size: 16px;
}
#posts > .post:first-child {
  padding-top: 100px !important;
  border-top: 0 !important;
}
#posts > div:nth-last-of-type(2) {
  padding-bottom: 100px !important;
}
.clear {
  clear: both;
}
