@dgray: #3b3b3b;
@blue: #324654;
@dirt: #788880;
@green: #9C9985;
@orange: #C46D3B;
@ceramic: #E3CBAC;

@bg: darken(@green, 20%);

html,body {
	margin: 0;
	padding: 0;
	font: 14px "facitweb", sans-serif;
	background-color: darken(@bg, 10%);
	text-rendering: optimizelegibility;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	border-top: 5px solid darken(@orange, 10%);
	min-width: 1000px;
}

@media only screen and (min-width: 480px) {
	body {
		min-width: 480px;
	}
}

a {
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
}

sup {
	position: relative; top: -0.5em;
	vertical-align: baseline;
}

#sidebar, #intro {
	float: left;
	padding: 80px 0 0; margin-top: 0;
	max-height: 100%;

	img.icon {
		width: 120px;
		padding: 0 15px;
	}

	.blog-title {
		text-transform: uppercase;
		font-size: 20px;
		margin: 0 0 30px;

		a {
			text-decoration: none;
			display: inline-block;
			padding: 5px 10px;
			background-color: fadeout(#000, 70%);
			color: @orange;

			&:hover {
				background-color: @orange;
				color: #fff;
			}
		}
	}

	a.side {
		color: fadeout(#fff, 50%);
		display: block;
		padding: 5px 10px;
		font-size: 16px;
		text-decoration: none;

		&:hover {
			//background-color: @orange;
			background-color: fadeout(#000, 95%);
			color: #fff;
		}
	}

	a.side + a.side {
		//border-top: 1px solid fadeout(#000, 93%);
	}

	.copyright {
		position: absolute;
		right: 0; bottom: 20px;
		padding: 5px 10px;
		text-align: center;
		color: #666;
		font-size: 12px;
		display: none;
	}
}

#intro {
	display: none;
}

@media screen and (min-width: 480px) {
	#sidebar { display: none; }
	#intro { display: block; }

	#intro {
		display: block;
		position: static;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		height: auto;
		margin-bottom: 20px;

		img.icon {
			width: 240px;
		}

		.blog-title {
			a {
				font-size: 54px;
				padding: 10px 15px;
				background-color: rgba(0,0,0,0.4);
				color: #fff;
			}
		}

		a.side {
			font-size: 44px;
			display: inline-block;
			border-top: 0 !important;
		}
	}
}

#content {
	padding: 5px 100px 0 100px;
	margin-top: -5px;
	width: 600px; min-height: 100%;
	background-color: darken(@bg, 3%);
	float: left;
	border-top: 5px solid @orange;

	box-shadow: fadeout(#000, 70%) 1px 1px 8px;

	a {
		text-decoration: none;
		color: #888;
	}

	#posts {
		.post {
			margin: 100px 0;

			.post-title {
				margin-bottom: 5px;
				font-size: 24px;
				font-family: "gotham", "Helvetica Neue", sans-serif;
				font-weight: normal;

				a {	
					color: #fff;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}

			.meta {
				padding: 0 0 10px;
				margin-bottom: 5px;
				color: fadeout(#fff, 20%);
				font-size: 12px;
				//text-align: center;
				text-transform: uppercase;
				border-bottom: 1px solid fadeout(#fff, 90%);

				a {
					color: fadeout(#fff, 5%);
					
					&:hover {
						text-decoration: underline;
					}
				}
			}

			&.link {
				.post-title {
					margin-bottom: 10px;
					font-weight: 400;
					font-size: 14px;
					text-align: left;

					a { 
						color: fadeout(#fff, 10%);
						border-bottom: 1px solid fadeout(#fff, 60%);
						
						&.permalink {
							font-size: 16px;
							float: left;
							color: fadeout(#fff, 30%);
							border-bottom: 0;
							margin: -2px 0 0 -17px;
						}

						&:hover {
							text-decoration: none;
							color: #fff;
							border-bottom-color: #fff;
						}
					} 
				}

				.meta {
					font-style: italic;
					text-align: right;
					border-bottom: 1px solid #eee; 
					text-transform: normal;
					border-bottom: 0;
				}
			}

			.post-body {
				color: #fff;
				font-size: 12px;
				font-weight: 300;
				font-family: "facitweb", sans-serif;
				line-height: 1.7em;

				a {
					color: #fff;
					border-bottom: 1px solid @orange;

					&:hover {
						background-color: fadeout(#fff, 90%);
					}

					&[rel=footnote]{
						font-size: 9px;
					}
				}

				p {
					margin: 1.5em 0;
				}

				blockquote {
					margin: 20px 5px;
					width: 80%;
					border-left: 5px solid @orange;
					padding-left: 10px;
					color: fadeout(#fff, 15%);

					cite {
						color: fadeout(#fff, 40%);

						a {
							color: #fff;
							font-style: normal;
						}

						a:nth-of-type(1) {
							font-family: "gotham", "Helvetica Neue", sans-serif;
							text-transform: uppercase;
						}

						&:before {
							content: "\2014";
						}
					}
				}

				code {
					background-color: fadeout(#fff, 90%);
					border: 1px solid fadeout(#000, 85%);
					padding: 3px 6px 2px;
				}

				img {
					margin-left: -100px;
					max-width: 800px;
				}

				strong {
					font-family: "gotham";
					font-weight: normal;
				}

				.disclaimer {
					font-style: italic;
					color: fadeout(#fff, 50%);
					display: inline-block;
					margin-bottom: 2em;

					strong { text-transform: uppercase; }
				}

				.footnote {
					font-size: 12px;
					color: fadeout(#fff, 30%);

					hr {
						border: 0;
						border-bottom: 1px solid fadeout(#fff, 90%);
						margin: 5px 0;
						height: 0; width: 200px;
					}

					a {
						color: #eee;

						&[rev=footnote]{
							font-size: 9px;
						}
					}
				}
			}

			.post-footer {
				font-size: 12px;
				border-top: 1px solid fadeout(#fff, 90%);
				padding-top: 10px;

				a {
					color: fadeout(#fff, 40%);

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	#paginator,
	#btb {
		margin: 20px auto 40px;
		//text-align: center;

		a {
			background-color: fadeout(#000, 50%);
			color: #eee;
			padding: 4px 8px;
			font-size: 16px;

			&:hover {
				background-color: @orange;
				color: #fff;
			}
		}
	}

	#btb {
		text-align: left;
	}
}

@media screen and (min-width: 480px) {

	#content {
		margin: 0 auto;
		width: 100%;

		#posts {
			.post {
				margin: 300px 0;
				
				.post-title {
					font-size: 74px;
					margin-bottom: 15px;
				}
				
				.meta { font-size: 42px; }
				
				&.link {
					.post-title { font-size: 54px; }	
				}

				.post-body {
					font-size: 42px;

					a {
						&[rel=footnote]{ font-size: 39px; }
					}

					blockquote {
						padding-left: 30px;
					}

					img {
						max-width: 100%;
					}

					.footnote {
						font-size: 42px;

						a {
							&[rev=footnote]{ font-size: 39px; }
						}
					}
				}

				.post-footer {
					font-size: 26px;
				}
			}

			#paginator, #btb {
				a { 
					font-size: 46px;
					padding: 8px 12px;
				}
			}
		}
	}
}
