html,
body {
  margin: 0;
  padding: 0;
  font: 14px "facitweb", sans-serif;
  background-color: #4b493d;
  text-rendering: optimizelegibility;
}
body {
  border-top: 5px solid #9d572f;
  min-width: 1000px;
}
a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
sup {
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}
#sidebar {
  float: left;
  padding: 80px 0 0;
  margin-top: 0;
  max-height: 100%;
}
#sidebar img.icon {
  width: 150px;
}
#sidebar .blog-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}
#sidebar .blog-title a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.30000000000000004);
  color: #c46d3b;
}
#sidebar .blog-title a:hover {
  background-color: #c46d3b;
  color: #fff;
}
#sidebar a.side {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
}
#sidebar a.side:hover {
  background-color: rgba(0, 0, 0, 0.050000000000000044);
  color: #fff;
}
#sidebar .copyright {
  position: absolute;
  right: 0;
  bottom: 20px;
  padding: 5px 10px;
  text-align: center;
  color: #666;
  font-size: 12px;
  display: none;
}
#content {
  padding: 5px 100px 0 100px;
  margin-top: -5px;
  width: 600px;
  min-height: 100%;
  background-color: #676554;
  float: left;
  border-top: 5px solid #c46d3b;
  box-shadow: rgba(0, 0, 0, 0.30000000000000004) 1px 1px 8px;
}
#content a {
  text-decoration: none;
  color: #888;
}
#content #posts .post {
  margin: 100px 0;
}
#content #posts .post .post-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-family: "skolar", "Georgia", serif;
  font-weight: normal;
}
#content #posts .post .post-title a {
  color: #fff;
}
#content #posts .post .post-title a:hover {
  text-decoration: underline;
}
#content #posts .post .meta {
  padding: 0 0 10px;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09999999999999998);
}
#content #posts .post .meta a {
  color: rgba(255, 255, 255, 0.95);
}
#content #posts .post .meta a:hover {
  text-decoration: underline;
}
#content #posts .post.link .post-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}
#content #posts .post.link .post-title a {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#content #posts .post.link .post-title a.permalink {
  font-size: 18px;
  float: left;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 0;
  margin-left: -20px;
}
#content #posts .post.link .post-title a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom-color: #fff;
}
#content #posts .post.link .meta {
  font-style: italic;
  text-align: right;
  border-bottom: 1px solid #eee;
  text-transform: normal;
  border-bottom: 0;
}
#content #posts .post .post-body {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  font-family: "facitweb", sans-serif;
  line-height: 1.7em;
}
#content #posts .post .post-body a {
  color: #fff;
  border-bottom: 1px solid #c46d3b;
}
#content #posts .post .post-body a:hover {
  background-color: rgba(255, 255, 255, 0.09999999999999998);
}
#content #posts .post .post-body a[rel=footnote] {
  font-size: 9px;
}
#content #posts .post .post-body p {
  margin: 1.5em 0;
}
#content #posts .post .post-body blockquote {
  margin: 20px 5px;
  width: 80%;
  border-left: 5px solid #c46d3b;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.85);
}
#content #posts .post .post-body blockquote cite {
  color: rgba(255, 255, 255, 0.6);
}
#content #posts .post .post-body blockquote cite a {
  color: #fff;
}
#content #posts .post .post-body blockquote cite:before {
  content: "\2014";
}
#content #posts .post .post-body code {
  background-color: rgba(255, 255, 255, 0.09999999999999998);
  border: 1px solid rgba(0, 0, 0, 0.15000000000000002);
  padding: 3px 6px 2px;
}
#content #posts .post .post-body img {
  margin-left: -100px;
  max-width: 800px;
}
#content #posts .post .post-body .disclaimer {
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-bottom: 2em;
}
#content #posts .post .post-body .disclaimer strong {
  text-transform: uppercase;
}
#content #posts .post .post-body .footnote {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
#content #posts .post .post-body .footnote hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09999999999999998);
  margin: 5px 0;
  height: 0;
  width: 200px;
}
#content #posts .post .post-body .footnote a {
  color: #eee;
}
#content #posts .post .post-body .footnote a[rev=footnote] {
  font-size: 9px;
}
#content #posts .post .post-footer {
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.09999999999999998);
  padding-top: 10px;
}
#content #posts .post .post-footer a {
  color: rgba(255, 255, 255, 0.6);
}
#content #posts .post .post-footer a:hover {
  text-decoration: underline;
}
#content #paginator,
#content #btb {
  margin: 20px auto 40px;
}
#content #paginator a,
#content #btb a {
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  padding: 4px 8px;
  font-size: 16px;
}
#content #paginator a:hover,
#content #btb a:hover {
  background-color: #c46d3b;
  color: #fff;
}
#content #btb {
  text-align: left;
}
