@dgray: #3b3b3b;
@blue: #324654;
@dirt: #788880;
@green: #9C9985;
@orange: #C46D3B;
@ceramic: #E3CBAC;

@bg: darken(@green, 20%);

html,body {
	margin: 0;
	padding: 0;
	font: 14px "ff-dagny-web-pro", sans-serif;
	background-color: #fff;
	text-rendering: optimizelegibility;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-width: 1000px;
}

/*
@media only screen and (max-width: 480px) {
	body {
		min-width: 480px;
		border-top: 0;
	}
}
*/

a {
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s
}

sup {
	position: relative; top: -0.5em;
	vertical-align: baseline;
}

#intro {
	padding: 0 45px;
	width: 710px; height: 34px;
	background-color: #fff;

	.left {
		float: left;
		width: 50%;
		visibility: hidden;

		.blog-title {
			text-transform: uppercase;
			font-size: 16px;
			margin: 0;

			a {
				text-decoration: none;
				display: inline-block;
				padding: 4px 5px 0;
				//background-color: fadeout(#000, 70%);
				color: @orange;

				img.icon {
					width: 30px;
					vertical-align: middle;
					position: relative; top: -2px;
				}
			}
		}
	}

	.right {
		float: right;

		a.side {
			color: #888;
			display: inline-block;
			padding: 8px 10px 9px;
			font-size: 16px;
			text-decoration: none;
			float: left;
		}
	}

	a:hover {
		background-color: #222;
		color: #fff !important;
	}
}

#content {
	margin: 0 auto;
	width: 800px; min-height: 100%;
	background-color: #fff;
	color: #000;

	a {
		text-decoration: none;
		color: #888;
	}

	#posts {
		.post {
			padding: 50px;
			border-top: 1px solid rgba(0,0,0,0.05);

			.post-title {
				margin-bottom: 5px;
				font-size: 34px;
				font-family: "ff-dagny-web-pro", "Helvetica Neue", sans-serif;
				font-weight: bold;

				a {	
					color: #000;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}

			.meta {
				padding: 0 0 10px;
				margin-bottom: 5px;
				color: #666;
				font-size: 14px;
				//text-align: center;
				text-transform: uppercase;
				border-bottom: 1px solid fadeout(#000, 90%);

				a {
					color: fadeout(#000, 5%);
					
					&:hover {
						text-decoration: underline;
					}
				}
			}

			&.link {
				.post-title {
					margin-bottom: 10px;
					font-size: 24px;
					text-align: left;

					a { 
						color: #222;
						border-bottom: 1px solid fadeout(#fff, 60%);
						
						&.permalink {
							font-size: 24px;
							float: left;
							color: fadeout(#000, 30%);
							border-bottom: 0;
							margin: -2px 0 0 -24px;
						}
					} 
				}

				.meta {
					font-style: italic;
					text-align: right;
					border-bottom: 1px solid #eee; 
					text-transform: normal;
					border-bottom: 0;
				}
			}

			.post-body {
				font-size: 24px;
				font-weight: 400;
				font-family: "adobe-garamond-pro", serif;
				line-height: 1.7em;

				a {
					color: #333;
					border-bottom: 1px solid #ddd;

					&:hover {
						color: @orange;
						border-bottom-color: #aaa;
					}

					&[rel=footnote]{
						font-size: 75%;
					}

					&.permalink {
						font-size: 18px;
						color: fadeout(#fff, 30%);
						border-bottom: 0;

						&:hover { opacity: 1; }
					}
				}

				p {
					margin: 1.5em 0;
				}

				h4 {
					font: normal 12pt "ff-dagny-web-pro", "Helvetica Neue", sans-serif;
					margin: 3em 0 0.7em;
					text-transform: uppercase;
				}

				h4 + p {
					margin-top: 0em;
				}

				blockquote {
					margin: 20px 5px;
					width: 80%;
					border-left: 5px solid @orange;
					padding-left: 10px;
					color: #222;

					cite {
						color: fadeout(#000, 40%);

						a {
							color: #000;
							font-style: normal;
						}

						a:nth-of-type(1) {
							font-family: "ff-dagny-web-pro", "Helvetica Neue", sans-serif;
							text-transform: uppercase;
						}

						&:before {
							content: "\2014";
						}
					}
				}

				code {
					font-family: "Inconsolata", "Consolas", "Monaco", monospace;
					background-color: fadeout(#fff, 90%);
					border: 1px solid fadeout(#000, 85%);
					padding: 3px 6px 2px;
				}

				pre {
					border-radius: 5px;
					font-size: 16px;
					margin: 0 -50px 0;
					padding: 0 50px;
					background-color: #eee; color: #222;

					code {
						background-color: transparent;
						border: 0;
						padding: 0;
					}
				}

				img {
					margin-left: -50px;
					max-width: 800px;
				}

				strong {
					font-weight: normal;
				}

				.disclaimer {
					font-style: italic;
					color: fadeout(#000, 50%);
					display: inline-block;
					margin-bottom: 2em;

					strong { text-transform: uppercase; }
				}

				.twitter-tweet-rendered {
					margin: 0 auto;
				}

				.footnote {
					font-size: 18px;
					color: #666;

					hr {
						border: 0;
						border-bottom: 1px solid fadeout(#fff, 90%);
						margin: 5px 0;
						height: 0; width: 200px;
					}

					a {
						color: #222;

						&[rev=footnote]{
							font-size: 12px;
						}
					}

					ol {
						margin-left: 0;	padding-left: 10px;
						counter-reset: li;

						li {
							position: relative;
							list-style: none;
							margin-bottom: 1em;

							&:before {
								content: counter(li);
								counter-increment: li;
								position: absolute; left: -15px; top: -15px;
								font-size: 14px;
								font-weight: bold;
								color: #222;
							}

							p { margin: 0 0 0.5em; line-height: 1.3em; }
						}
					}
				}
			}

			.post-footer {
				font-size: 12px;
				border-top: 1px solid fadeout(#fff, 90%);
				padding-top: 10px;

				a {
					color: fadeout(#fff, 40%);

					&:hover {
						text-decoration: underline;
					}
				}
			}

			&.link .post-footer { display: none; }
		}
	}

	#bottom {
		//margin-left: -50px;
		padding: 0 50px;
		width: 800px;

		#paginator,
		#btb {
			width: 200px;
			float: left;

			a {
				background-color: #444;
				color: #eee;
				padding: 8px 12px;
				font-size: 16px;

				&:hover {
					background-color: #000;
					color: #fff;
				}
			}
		}

		#btb {
			text-align: left;
		}

		#copyright {
			float: right;
			color: #ccc;
			font-size: 16px;
			padding: 1px 0 0;
		}
	}
}

#posts > .post:first-child { padding-top: 100px !important; border-top: 0 !important; }
#posts > div:nth-last-of-type(2) { padding-bottom: 50px !important; }

/*
@media only screen and (max-width: 480px) {

	#content {
		margin: 0 auto;
		width: 100%;
		overflow-x: hidden;
		padding: 5px 15px;

		#posts {
			.post {
				margin: 300px 0;

				&:first-child {
					margin-top: 5px;
				}
				
				.post-title {
					font-size: 74px;
					margin-bottom: 30px;
					line-height: 1em;
				}
				
				.meta { font-size: 32px; }
				
				&.link {
					.post-title {
						font-size: 44px;
					
						a.permalink {
							font-size: 44px;
							margin-left: 0px;
							margin-right: 5px;
						}
					}
				}

				.post-body {
					font-size: 32px;

					a {
						&[rel=footnote]{ font-size: 39px; }
					}

					blockquote {
						padding-left: 30px;
					}

					img {
						max-width: 480px;
						margin-left: -15px;
					}

					.footnote {
						font-size: 42px;

						a {
							&[rev=footnote]{ font-size: 39px; }
						}
					}
				}

				.post-footer {
					font-size: 20px;
				}
			}

			#paginator, #btb {
				a { 
					font-size: 46px;
					padding: 8px 12px;
				}
			}
		}
	}
}
*/

.clear { clear: both; }
