#top {
	position: static;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	height: auto;

	.blog-title {
		a {
			background-color: rgba(0,0,0,0.4);
			color: #fff;
		}
	}

	a.side {
		display: inline-block;
		border-top: 0 !important;
	}
}

#content {
	margin: 0 auto;
	width: 90%;
}
