body {
	min-width: 480px;
}

#intro {
	display: block;
	position: static;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	height: auto;

	.blog-title {
		a {
			background-color: rgba(0,0,0,0.4);
			color: #fff;
		}
	}

	a.side {
		display: inline-block;
		border-top: 0 !important;
	}
}

#sidebar {
	display: none;
}

#content {
	margin: 0 auto;
	width: 100%;

	#posts {
		.post {
			margin: 200px 0;
			
			.post-title { font-size: 64px; }
			
			.meta { font-size: 42px; }
			
			&.link {
				.post-title { font-size: 44px; }	

				a {
					&.permalink { font-size: 46px; }
				}
			}

			.post-body {
				font-size: 42px;

				a {
					&[rel=footnote]{ font-size: 39px; }
				}

				.footnote {
					font-size: 42px;

					a {
						&[rev=footnote]{ font-size: 39px; }
					}
				}
			}

			.post-footer {
				font-size: 42px;
			}
		}

		#paginator, #btb {
			a { font-size: 46px; }
		}
	}
}
