:root {
  --white: #f9f9f9;
  --black: #111;

  --lt-grey: #ddd;
  --md-grey: #888;
  --dk-grey: #222;

  --link: #66b3ee;
  --link-rgb: 102, 179, 238;
}

::selection {
  background-color: rgba(var(--link-rgb), 0.5);
}

html,
body {
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
}

h1 {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: "Cabin";
}

p {
  hyphens: auto;
}

a {
  color: var(--link);
  border-bottom: 1px solid rgba(var(--link-rgb), 0.25);
  text-decoration: none;
  transition: border-bottom-color 0.3s;
  padding: 0 2px;
}

a:hover {
  border-bottom-color: var(--link);
}

.blog {
  display: flex;
}

.blog--blogroll-sidebar {
  flex: none;
  width: 200px;
}

.blog--blogroll-sidebar ul {
  margin: 0;
}

.blog--blogroll-sidebar ul li {
  padding: 0;
  list-style: none;
}

.blog--latest-posts {
  max-width: 700px;
  flex: 10;
}

.blog--post + .blog--post {
  margin-top: 50px;
}

.blog--post + .blog--post::before {
  content: "";
  display: block;
  width: 50%;
  border-top: 1px solid var(--lt-grey);
  margin-bottom: 50px;
}

.blog--navigation {
  display: flex;
  justify-content: center;
  color: var(--md-grey);
}

.date {
  font-size: 12px;
  color: var(--md-grey);
}
